# Copia este archivo como .env y rellena los valores

# Base de datos MySQL
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=tu_contrasena
DB_NAME=safeclass_db

# JWT
SECRET_KEY=cambia_esta_clave_secreta
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

# OpenWeatherMap
OWM_API_KEY=tu_api_key_de_openweathermap
